<div class="commentImage">
	<%= image_tag current_user.image %>
</div>
<%= form_for current_user.comments.build, remote: true do |f| %>
	<%= f.hidden_field :event_id, value: @event.id %>
	<div class="field">
		<%= f.text_area :content, tabindex: 1 %>
	</div>
	<div class="action">
		<%= f.submit 'Comment', tabindex: 2 %>
	</div>
<% end %>
<div class="clear"></div>
<script>
$('.commentForm textarea').autoResize();
</script>