<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# bitehook: http://ogp.me/ns/fb/bitehook#">
	<meta property="fb:app_id" content="<%= app_id %>" />
	<meta property="og:type"   content="bitehook:event" />
	<meta property="og:title" content="<%= @event.name %>" />
	<meta property="og:image" content="<%= @event.image1 %>" />
	<meta property="og:description" content="<%= @event.info %>" />
	<meta property="og:url"    content="http://bitehook.com<%= event_path(@event) %>" />
	<meta property="og:site_name" content="BiteHook" />
</head>
<% if Rails.env.production? %>
<script>
	location.href = "http://bitehook.com<%= event_path(@event) %>"
</script>
<% else %>
<script>
	location.href = "http://localhost:3000<%= event_path(@event) %>"
</script>
<% end %>
<body>
</body>
</html>